body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
    background-image: url('/css/fondo3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2 {
    color: #f5e7e7;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

label {
    flex-basis: 100px;
    margin-bottom: 8px;
    font-weight: bold; 
    color: white; 
}

input, select, button {
    padding: 8px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    flex-basis: 100%;
    max-width: 150px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #030303;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
